<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="SelectedPhotoAccess, ProtectedPermissions">
<!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />-->

    <!-- Required to access images for SDK 33+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Required to access videos for SDK 33+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- Required to access GPS Data of Media -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <!-- Required to access media for SDK < 33 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <!--
        (OPTIONAL)
        Requested to bypass another user confirmation requested by
        ScopedStorage when the user wants to trash, delete or add/remove favorites media
    -->
    <uses-permission android:name="android.permission.MANAGE_MEDIA" />

    <!--
        (OPTIONAL)
        Requested to create albums outside Internal Storage/Pictures or Internal Storage/DCIM
    -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage" />

    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage" />


    <queries>
        <intent>
            <action android:name="android.intent.action.EDIT" />
            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.EDIT" />
            <data android:mimeType="video/*" />
        </intent>
    </queries>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TIDY"
        tools:targetApi="31"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>